$color-primary: #7ce6f2;
$color-dark: #202020;
$color-grey: #4f4f4f;

$font-family-base: 'Pretendard Regular', sans-serif;
$font-size-base: 14px;
$font-weight-normal: 400;

$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
