@use '../../assets/styles/base/mixins' as *;

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  max-width: 560px;
  min-width: 300px;
  width: 90%;
  padding: 4em 1em 1em 1em;
  background-color: #ffffff;
  border: 4px solid #000000;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;

  h2 {
    font-size: 1.125rem;
    @include pretendard-bold;
    font-weight: bold;
    margin-bottom: 30px;
  }

  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.8;
    }
  }
}
