.area {
  position: relative;
}

.titleBox {
  position: absolute;
  z-index: 2;

  background-color: #b13500;
  border-radius: 3px 3px 0 0;
  border: 3px solid #dad7d7;
  width: fit-content;
  border-bottom: none;
  padding: 0.6em 2em 0.1em 2em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .title {
    color: #dfefd9;
    font-weight: bold;
    font-size: 0.8rem;
    text-shadow: 1.7px 1.7px 0 rgba(0, 0, 0, 0.8);
  }
}

.infoBox {
  position: absolute;
  top: 30.5px;
  background-color: #b13500;
  min-width: 200px;
  min-height: 100px;
  border: 3px solid #dad7d7;
  padding: 1em;

  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.5);
}
