@use '../../assets/styles/base/mixins' as *;

@keyframes fadeout {
  /* 효과를 동작시간 동안 0 ~ 1까지 */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.revolution {
  &.none {
    display: none;
  }

  &.revol {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: 13;
    animation: fadeout 3s;
  }
}

.homeContainer {
  width: 100%;
  height: 100%;
  padding: 28px 38px 105.5px 38px; // 10.5.5px은 하단탭 높이
  background: linear-gradient(
    to top,
    rgba(79, 118, 44, 50%) 0%,
    rgba(127, 181, 73, 60%) 10px,
    rgba(255, 255, 255, 0%) 60px,
    rgba(189, 243, 249, 100%) 70%,
    rgba(124, 230, 242, 100%)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .iconWrapper {
    width: 100%;
    align-self: flex-start;

    .icon {
      width: fit-content;
      border-radius: 4px;
      box-shadow: -5px -5px 8px 4px rgba(95, 171, 181, 0.25);
      cursor: pointer;

      &:first-child {
        margin-top: 12px;
        margin-bottom: 20px;
      }
    }
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;

    .speechBubbleWrapper {
      position: relative;
      align-self: flex-end;
      min-width: 50%;
      max-width: 120px;
      min-height: 100px;
      border-radius: 50%;
      background-color: white;
      box-shadow:
        4px 4px 12px 8px rgba(95, 171, 181, 0.25),
        1px 2px 8px 1px rgba(95, 171, 181, 0.25) inset;

      &::before {
        position: absolute;
        content: '';
        border-width: 16px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) white
          rgba(255, 255, 255, 0);
        border-right: white;
        top: 99%;
        left: 39.5%;
        transform: rotate(180deg);
      }

      .speechBubble {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 28px;

        color: #333333;
        font-weight: bold;
        font-size: 1rem;
        text-shadow: 0.8px 0.8px 0 rgba(0, 0, 0, 0.5);

        @include dosiyagi-medium;
      }
    }
    .pokemonGifWrapper {
      position: relative; /* position relative 설정 */

      .pokemonGif {
        width: 138px;
        height: 138px;
        margin: 0 auto;
        object-fit: contain;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 30px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        z-index: -1;
      }
    }
  }
}

.infoWrapper {
  width: 100%;
}

.infoBox {
  background-color: #7ea570;
  border-radius: 3px;
  border: 3px solid #b1bbaa;
  border-left-width: 5px;
  border-right-width: 5px;
  padding: 0.4em 1em;
  font-size: 1rem;
  color: #dfefd9;
  text-shadow: 1.7px 1.7px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  gap: 11px;

  .info {
    display: flex;
    justify-content: space-between;
  }

  .progressWrapper {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 12px;
    width: 100%;

    .progressBar {
      width: 84%;
      height: 20px;
      border-radius: 5px;
      background-color: #000000;
      border: 2px solid #dadada;
      overflow: hidden;

      .fill {
        height: 100%;
        background-color: #14f11d;
        transition: width 0.5s ease-in-out;
        border-radius: 2px;
      }
    }

    span {
      font-size: 0.8rem;
    }
  }
  .currentExp {
    text-align: right;
  }
}

.statusWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 15px;
}
.statusBox {
  position: relative;
  min-width: 155px;
  min-height: 60px;
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.3);
  padding: 0.8em 1em 0.2em 1em;
  font-size: 1.125rem;
  margin-top: 20px;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 92%;
    height: 82%;
    background-color: rgba(171, 205, 159, 0.5);
    border-radius: 0 0 10px 0;
    z-index: 1;
  }

  .statusText {
    z-index: 2;
    width: 100%;
    color: #000;

    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }

  &.running .statusText {
    color: #ff4d00;
  }
}

.run {
  position: relative;
  padding-bottom: 15px; /* 두 선 사이의 간격 조정 */
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
  width: 60%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background-color: #abcd9f;
  }

  &::before {
    bottom: 9px; /* 얇은 선의 위치 조정 */
    height: 2px; /* 얇은 선의 두께 */
  }

  &::after {
    bottom: 0; /* 두꺼운 선의 위치 조정 */
    height: 4px; /* 두꺼운 선의 두께 */
  }

  span {
    color: #dfefd9;
    font-size: 1.25rem;
  }
}

.commentModalContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(124, 230, 242, 100%),
    rgba(189, 243, 249, 100%) 70%,
    white
  );
  z-index: 10;

  .commentModalInnerContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 120px 38px;

    .commentWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      .comment {
        width: 100%;

        .title {
          font-size: 24px;
          margin-bottom: 12px;
        }

        .content {
          font-size: 16px;
          margin-bottom: 34px;
          word-break: keep-all;
        }
      }

      .input {
        height: 160px;
        border-radius: 8px;
        background: rgba(250, 250, 250, 0.3);
      }
    }

    .completeButtonWrapper {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0%;
      padding-bottom: 36px;

      .completeButton {
        align-self: flex-end;
        width: 80%;
        height: 42px;
        margin: 0 auto;
        text-align: center;
        line-height: 42px;
        background-color: #f0f0f0;
        box-shadow:
          4px 4px 2px 2px rgba(0, 0, 0, 0.25),
          2px 2px 2px 2px rgba(250, 250, 250) inset;
        border-radius: 2px;
        font-size: 18px;
      }
    }
  }
}
