@use '../../assets/styles/base/mixins' as *;

.homeContainer {
  width: 100%;
  height: 100%;
  padding: 28px 38px 105.5px 38px; // 10.5.5px은 하단탭 높이
  background: linear-gradient(
    to top,
    rgba(79, 118, 44, 50%) 0%,
    rgba(127, 181, 73, 60%) 10px,
    rgba(255, 255, 255, 0%) 60px,
    rgba(189, 243, 249, 100%) 70%,
    rgba(124, 230, 242, 100%)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .noticeBoxWrapper {
    width: 100%;

    .noticeBox {
      width: 100%;
      height: 42px;
      padding: 0 10px;
      margin-top: 20px;
      border-radius: 8px;
      border: 1px solid #d9d9d9;
      background-color: white;
      line-height: 42px;
      font-size: 16px;
    }
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;

    .speechBubbleWrapper {
      position: relative;
      align-self: flex-end;
      min-width: 50%;
      max-width: 120px;
      min-height: 100px;
      border-radius: 50%;
      background-color: white;
      box-shadow:
        4px 4px 12px 8px rgba(95, 171, 181, 0.25),
        1px 2px 8px 1px rgba(95, 171, 181, 0.25) inset;

      &::before {
        position: absolute;
        content: '';
        border-width: 16px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) white
          rgba(255, 255, 255, 0);
        border-right: white;
        top: 99%;
        left: 39.5%;
        transform: rotate(180deg);
      }

      .speechBubble {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 28px;
      }
    }
    .pokemonGifWrapper {
      position: relative; /* position relative 설정 */

      .pokemonGif {
        width: 138px;
        height: 138px;
        margin: 0 auto;
        object-fit: contain;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 30px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        z-index: -1;
      }
    }
  }
}

.infoWrapper {
  width: 100%;
  @include pretendard-bold;
}

.infoBox {
  background-color: #7ea570;
  border-radius: 3px;
  border: 3px solid #b1bbaa;
  border-left-width: 5px;
  border-right-width: 5px;
  padding: 0.4em 1em;
  font-size: 1rem;
  color: #dfefd9;
  text-shadow: 1.7px 1.7px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  gap: 11px;

  .info {
    display: flex;
    justify-content: space-between;
  }

  .progressWrapper {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 12px;
    width: 100%;

    .progressBar {
      width: 84%;
      height: 20px;
      border-radius: 5px;
      background-color: #000000;
      border: 2px solid #dadada;
      overflow: hidden;

      .fill {
        height: 100%;
        background-color: #14f11d;
        transition: width 0.5s ease-in-out;
        border-radius: 2px;
      }
    }

    span {
      font-size: 0.8rem;
    }
  }
  .currentExp {
    text-align: right;
  }
}

.statusWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 15px;
}
.statusBox {
  position: relative;
  min-width: 155px;
  min-height: 60px;
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.3);
  padding: 0.8em 1em 0.2em 1em;
  font-size: 1.125rem;
  margin-top: 20px;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 92%;
    height: 82%;
    background-color: rgba(171, 205, 159, 0.5);
    border-radius: 0 0 10px 0;
    z-index: 1;
  }

  .statusText {
    z-index: 2;
    width: 100%;
    color: #000;
  }

  &.running .statusText {
    color: #ff4d00;
  }
}

.run {
  position: relative;
  padding-bottom: 15px; /* 두 선 사이의 간격 조정 */
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
  width: 60%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background-color: #abcd9f;
  }

  &::before {
    bottom: 9px; /* 얇은 선의 위치 조정 */
    height: 2px; /* 얇은 선의 두께 */
  }

  &::after {
    bottom: 0; /* 두꺼운 선의 위치 조정 */
    height: 4px; /* 두꺼운 선의 두께 */
  }

  span {
    color: #dfefd9;
    font-size: 1.25rem;
    @include pretendard-bold;
  }
}
