.wrapper {
  display: flex;
  justify-content: space-between;
<<<<<<< HEAD
  margin-top: 10;
  margin-bottom: 28px;
  padding: 0 2.375em;
  width: 375px;
=======
  padding: 0 2.375em;

  position: fixed;
  bottom: 28px;
  z-index: 1;
  max-width: 600px;
  min-width: 320px;
  width: 100%;
>>>>>>> develop
}

.item {
  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }

  &.selected {
    .shadow {
      background-color: #c4c4c4;
<<<<<<< HEAD
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
=======
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
>>>>>>> develop
      transition: all 0.3s ease-out;
      opacity: 0.6;
    }
  }
}

.shadow {
  background-color: #d9d9d9;
  opacity: 0.4;
  width: 51px;
  height: 8px;
  border-radius: 50%;
}
